.workflow_image {
    /* for IE10+ touch devices */
    touch-action:none;
}

/** ELEMENTS **/
.points .point {
	width:12em;
	line-height:2em;
}
ul div {
    margin-left: 6%;
    height: 40px;
    font-weight: bold;
}
li {
    margin-left: 12%;
    height: 40px;
    display: flex;
    align-items: center;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    z-index: 1000
}
.ivu-icon:before,
.ivu-icon:after {
  font-family: Ionicons !important;
}

/** HOVER EFFECTS **/
.points .point:hover, .points .point._jsPlumb_source_hover, .points .point._jsPlumb_target_hover {
    border:1px solid #409EFF;
    color: white;
}
.jtk-endpoint-anchor {
}
.click-point {
 cursor: pointer;
}
.delete-show {
  cursor: pointer;
}
.point {
    background-color:white;
    border:1px solid #409EFF;
    text-align:center;
    box-shadow: 2px 2px 19px #aaa;
    -o-box-shadow: 2px 2px 19px #aaa;
    -webkit-box-shadow: 2px 2px 19px #aaa;
    -moz-box-shadow: 2px 2px 19px #aaa;
    position:absolute;
    color:white;
    width:80px;
    -webkit-transition: -webkit-box-shadow 0.15s ease-in;
    -moz-transition: -moz-box-shadow 0.15s ease-in;
    -o-transition: -o-box-shadow 0.15s ease-in;
    transition: box-shadow 0.15s ease-in;
}
.left-content {
    width: 20%;
    border-right: #eee 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.param-name {
  text-align: left;
}

.point:hover {
    border:1px solid #409EFF;
    box-shadow: 2px 2px 19px #444;
    -o-box-shadow: 2px 2px 19px #444;
    -webkit-box-shadow: 2px 2px 19px #444;
    -moz-box-shadow: 2px 2px 19px #fff;
    opacity:0.9;
    filter:alpha(opacity=90);
}

path, ._jsPlumb_endpoint { cursor:pointer; }
